@model IEnumerable<ProjectFinal.Models.product>
@foreach (var i in Model)
{
    <li class="span3">
        <div class="product-box">
            <span class="sale_tag"></span>
            <p><a href="@ViewBag.meta/@i.category.meta/@i.meta/@i.name"><img src="~/Uploads/images/@i.images" alt="" /></a></p>
            <a href="@ViewBag.meta/@i.category.meta/@i.meta/@i.name" class="title">@i.name</a><br />
            <a href="@ViewBag.meta/@i.category.meta/@i.meta/@i.name" class="category">@i.category.name</a>
            <p class="price">@i.price vnđ</p>
        </div>
    </li>
}